@import "./variables.scss";

.about-us {
  // между блоками полоса, которую я не смог убрать
  margin-top: -2px;

  background-color: $color-white;
}

.about-us__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 80px 100px 330px;

  @media (max-width: $vp-1023) {
    padding: 0 50px 80px 230px;
  }

  @media (max-width: $vp-767) {
    padding: 0 25px 80px 25px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 80px;
    width: 150px;
    height: 320px;
    background-image: url("../img/backgrounds/bg-image-2022-desktop-and-tablet.png");

    @media (min-width: $vp-1024) {
      @include retina {
        background-image: url("../img/backgrounds/bg-image-2022-desktop-and-tablet@2x.png");
        background-size: cover;
      }
    }

    @media (max-width: $vp-1023) {
      left: 50px;

      @include retina {
        background-image: url("../img/backgrounds/bg-image-2022-desktop-and-tablet@2x.png");
        background-size: cover;
      }
    }

    @media (max-width: $vp-767) {
      display: none;
    }
  }
}

// изменить, когда будет js
.about-us__spoiler-content {
  &--first {
    @media (max-width: $vp-767) {
      display: none;
    }
  }

  &--second,
  &--third {
    display: none;
  }
}

.about-us h2 {
  margin: 0;
  padding: 5px 0 15px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  color: $color-default-black;

  cursor: default;

  @media (max-width: $vp-1023) {
    padding: 0 0 10px 0;
  }

  @media (max-width: $vp-767) {
    font-size: 28px;
    line-height: 40px;
  }
}

.about-us p {
  margin: 0;
  padding-bottom: 22px;

  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: $color-default-black;

  cursor: default;

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 19px;
  }
}

.about-us .about-us__content--second {
  padding-bottom: 0;

  @media (max-width: $vp-767) {
    padding-bottom: 15px;
  }
}
