@import "./variables.scss";

.accordion__button {
  display: none;

  border: none;
  cursor: pointer;

  @media (max-width: $vp-767) {
    position: absolute;
    top: 20px;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-image: url("../img/sprite/icon-minus.svg");

    display: block;
  }
}

.accordion {
  @media (max-width: $vp-767) {
    &--closed {
      padding-bottom: 0;

      .accordion__button {
        background-image: url("../img/sprite/icon-plus.svg");
      }

      ul {
        display: none;
      }

      h2 {
        margin-top: 0;
        padding: 20px 0 20px 0;
      }
    }
  }
}
