@import "./variables.scss";

.advantages {
  padding: 120px 0;

  background-color: $color-white;

  @media (max-width: $vp-1023) {
    padding: 80px 0;
  }

  @media (max-width: $vp-767) {
    padding: 50px 0;
  }
}

.advantages__wrapper {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 80px;

  @media (max-width: $vp-1023) {
    padding: 0 50px;
  }

  @media (max-width: $vp-767) {
    padding: 0 25px;
  }
}

.advantages h3 {
  margin: 0;
  padding-bottom: 13px;

  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $color-deep-sky-blue;

  cursor: default;

  @media (max-width: $vp-1023) {
    padding-bottom: 9px;

    line-height: 33.7px;
  }

  @media (max-width: $vp-767) {
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages p {
  min-height: 120px;
  margin: 0;

  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-black;

  cursor: default;

  @media (max-width: $vp-1023) {
    line-height: 21.6px;
  }

  @media (max-width: $vp-767) {
    min-height: 140px;

    font-size: 14px;
    line-height: 19px;
  }
}

.advantages ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $vp-1023) {
    row-gap: 29px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
  }
}

.advantages li {
  position: relative;
  padding: 40px 45px 35px 45px;

  outline: 1px solid $color-shades-of-whisper;

  &:hover {
    background-color: $color-deep-sky-blue;
  }

  &:hover h3,
  &:hover p {
    color: $color-default-white;
  }

  &:hover svg {
    fill: $color-default-white;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: $color-deep-sky-blue;
  }

  @media (max-width: $vp-1023) {
    display: flex;
    flex-direction: column;

    min-height: 360px;
    padding: 40px 30px 32px 45px;
  }

  @media (max-width: $vp-767) {
    padding: 30px 30px 35px 30px;
  }
}

.advantages svg {
  margin-bottom: 15px;

  fill: $color-deep-sky-blue;

  @media (max-width: $vp-767) {
    width: 30px;
    height: 30px;
  }
}
