.btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &--main-header {
    height: 40px;

    font-family: $ff-roboto-condensed;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
    letter-spacing: 0.05em;

    text-transform: uppercase;
    background-color: $color-transparent;
    border: 1px solid $color-default-white;
    border-radius: 3px;

    @media (max-width: $vp-1023) {
      display: none;
    }
  }

  &--about-us {
    justify-content: center;
    order: 1;
    min-width: 180px;
    max-width: max-content;
    margin: 20px 0;
    padding: 13px 15px;

    font-family: $ff-roboto-condensed;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $color-deep-sky-blue;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    background-color: transparent;
    border: 1px solid $color-deep-sky-blue;

    @media (max-width: $vp-1023) {
      margin: 0;
    }

    @media (max-width: $vp-767) {
      min-width: 160px;
      padding: 8px 15px;
    }
  }
}

