@import "./variables.scss";

.contacts {
  @media (max-width: $vp-767) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      margin: 0 -25px 0 -25px;

      background-color: $transparent-white-0-7;
    }
  }
}

.contacts h2,
.contacts__heading {
  margin: 0;
  padding: 5px 0 22px 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: $color-white;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  cursor: default;

  @media (max-width: $vp-1023) {
    margin-top: 5px;
    padding: 0 0 25px 0;
  }

  @media (max-width: $vp-767) {
    position: relative;
    padding: 20px 0 15px 0;

    cursor: pointer;
  }
}

.contacts ul,
.contacts__list {
  max-width: 345px;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $vp-767) {
    margin-bottom: 20px;
  }
}

.contacts li,
.contacts__item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $vp-767) {
    &:first-child {
      margin-bottom: 15px;
    }
  }
}

.contacts a,
.contacts__link {
  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: $transparent-white-0-7;

  &:hover {
    color: $color-yellow;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 19px;
  }
}

.contacts p,
.contacts__address-text {
  margin: 0;

  font-style: normal;
  line-height: 21px;
}
