@import "./variables.scss";

.feedback {
  position: relative;

  background-color: $color-deep-sky-blue;

  @media (max-width: $vp-1023) {
    // height: 75.52vw;
    min-height: 520px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 0% 100%, 50% 0%);
    z-index: 0;

    background-color: $transparent-black-0-5;

    @media (max-width: $vp-1023) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 14%;
    width: 32.24vw;
    height: 18.02vw;
    z-index: 1;

    background: url("../img/backgrounds/paper-airplane-desktop.png") no-repeat;
    background-size: contain;

    @media (max-width: $vp-1023) {
      display: none;
    }

    @media (min-width: $vp-1024) {
      @include retina {
        background: url("../img/backgrounds/paper-airplane-desktop@2x.png") no-repeat;
        background-size: contain;
      }
    }
  }
}

.feedback__wrapper {
  max-width: 1380px;
  margin: 10.2% auto;
  padding: 0 80px;

  @media (max-width: $vp-1023) {
    margin: 0 0 9.9%;
    padding: 50px;
  }

  @media (max-width: $vp-767) {
    margin: 0 0 10.6%;
    padding: 50px 25px;
  }
}

.feedback__flex-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: $vp-1023) {
    justify-content: center;
    align-items: flex-start;
  }
}

.feedback__flex-container {
  z-index: 2;

  @media (max-width: $vp-1023) {
    width: 100%;
  }
}

.feedback h2 {
  max-width: 585px;
  margin: 0;
  padding-bottom: 10px;

  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  color: $color-white;

  @media (max-width: $vp-1023) {
    padding-bottom: 5px;
  }

  @media (max-width: $vp-767) {
    padding-bottom: 10px;

    font-size: 30px;
    line-height: 140%;
  }
}

.feedback p {
  max-width: 585px;
  margin: 0;
  padding-bottom: 35px;

  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $transparent-white-0-8;

  @media (max-width: $vp-1023) {
    padding-bottom: 25px;
  }

  @media (max-width: $vp-767) {
    padding-bottom: 35px;

    font-size: 14px;
    line-height: 18px;
  }
}
