@import "./variables.scss";

.goods-services {
  color: $color-white;
}

.goods-services__wrapper {
  max-width: 1380px;
  margin: 0 auto;
  padding: 3.45vw 80px 7.3vw 80px;

  background-color: $color-default-black;

  @media (max-width: $vp-1023) {
    padding: 55px 50px 75px 50px;
  }

  @media (max-width: $vp-767) {
    padding: 45px 25px 85px 25px;
  }
}

.goods-services__heading {
  &--mobile {
    display: none;

    @media (max-width: $vp-767) {
      display: block;

      font-weight: 400;
      font-size: 28px;
      line-height: 40px;
      color: $color-white;
    }
  }

  &--desktop-tablet {
    @media (max-width: $vp-767) {
      display: none;
    }
  }
}

.goods-services h2,
.goods-services .goods-services__heading {
  margin: 0;
  padding-bottom: 52px;

  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  color: $color-white;

  cursor: default;

  @media (max-width: $vp-1023) {
    padding-bottom: 38px;
  }

  @media (max-width: $vp-767) {
    padding-bottom: 29px;
  }
}

.goods-services__list-wrapper ul,
.goods-services__list-wrapper .goods-services__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 4.3vw;
  row-gap: 4.3vw;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $vp-1023) {
    flex-direction: column;
    column-gap: 0;
    row-gap: 3.91vw;
  }

  @media (max-width: $vp-767) {
    align-items: center;
    row-gap: 9.38vw;
  }
}

.goods-services__list-wrapper li,
.goods-services__list-wrapper .goods-services__item {
  position: relative;
  width: 18.2vw;
  height: 34vw;
  max-width: 350px;
  max-height: 650px;

  user-select: none;

  background-color: $color-default-black;
  background-image: url("../img/backgrounds/bg-image-offers-1-desktop.jpg");
  background-position: no-repeat top center;
  background-size: cover;

  @media (min-width: $vp-1024) {
    @include retina {
      background-image: url("../img/backgrounds/bg-image-offers-1-desktop@2x.jpg");
    }
  }

  &:nth-child(2n) {
    background-image: url("../img/backgrounds/bg-image-offers-2-desktop.jpg");

    @media (min-width: $vp-1024) {
      @include retina {
        background-image: url("../img/backgrounds/bg-image-offers-2-desktop@2x.jpg");
      }
    }
  }

  &:nth-child(3n) {
    background-image: url("../img/backgrounds/bg-image-offers-3-desktop.jpg");

    @media (min-width: $vp-1024) {
      @include retina {
        background-image: url("../img/backgrounds/bg-image-offers-3-desktop@2x.jpg");
      }
    }
  }

  &:hover {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      background-color: $transparent-white-0-2;
      cursor: pointer;
    }
  }

  @media (max-width: $vp-1023) {
    width: 87.23vw;
    height: 32.55vw;
    max-width: 100%;
    max-height: 100%;

    background-color: $color-default-black;
    background-image: url("../img/backgrounds/bg-image-offers-1-tablet.jpg");
    background-position: no-repeat top center;
    background-size: cover;

    @include retina {
      background-image: url("../img/backgrounds/bg-image-offers-1-tablet@2x.jpg");
    }

    &:nth-child(2n) {
      background-image: url("../img/backgrounds/bg-image-offers-2-tablet.jpg");

      @include retina {
        background-image: url("../img/backgrounds/bg-image-offers-2-tablet@2x.jpg");
      }
    }

    &:nth-child(3n) {
      background-image: url("../img/backgrounds/bg-image-offers-3-tablet.jpg");

      @include retina {
        background-image: url("../img/backgrounds/bg-image-offers-3-tablet@2x.jpg");
      }
    }
  }

  @media (max-width: $vp-767) {
    width: 84.38vw;
    height: 78.13vw;
    max-width: 100%;
    max-height: 100%;

    background-color: $color-default-black;
    background-image: url("../img/backgrounds/bg-image-offers-1-mobile.jpg");
    background-position: no-repeat top center;
    background-size: cover;

    @include retina {
      background-image: url("../img/backgrounds/bg-image-offers-1-mobile@2x.jpg");
    }

    &:nth-child(2n) {
      background-image: url("../img/backgrounds/bg-image-offers-2-mobile.jpg");

      @include retina {
        background-image: url("../img/backgrounds/bg-image-offers-2-mobile@2x.jpg");
      }
    }

    &:nth-child(3n) {
      background-image: url("../img/backgrounds/bg-image-offers-3-mobile.jpg");

      @include retina {
        background: $color-default-black url("../img/backgrounds/bg-image-offers-3-mobile@2x.jpg");
      }
    }
  }
}

.goods-services__list-wrapper a,
.goods-services__list-wrapper .goods-services__link {
  position: relative;
}

.goods-services__list-wrapper p,
.goods-services__link .goods-services__text {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2.6vw 4.17vw 3.12vw 2.08vw;

  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-white;

  overflow: hidden;

  @media (max-width: $vp-1023) {
    padding: 4.8vw 7.82vw 5.21vw 5.86vw;
  }

  @media (max-width: $vp-767) {
    padding: 8vw 12.5vw 9.38vw 9.38vw;

    font-size: 18px;
  }
}

.goods-services__list-wrapper span,
.goods-services__list-wrapper .goods-services__icon-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 60px;
  min-height: 60px;
  width: 3.13vw;
  height: 3.13vw;

  background-color: $color-deep-sky-blue;

  @media (max-width: $vp-1023) {
    width: 7.81vw;
    height: 7.81vw;
  }

  @media (max-width: $vp-767) {
    min-width: 40px;
    min-height: 40px;
    width: 12.5vw;
    height: 12.5vw;
  }
}

.goods-services__list-wrapper svg,
.goods-services__list-wrapper .goods-services__icon {
  width: 0.35vw;
  height: 0.7vw;

  fill: $color-white;

  @media (max-width: $vp-1023) {
    width: 0.7vw;
    height: 1.4vw;
  }

  @media (max-width: $vp-767) {
    width: 1.3vw;
    height: 2.6vw;
  }
}
