@import "./variables.scss";

.logo-header__image {
  display: block;

  @media (max-width: $vp-767) {
    display: none;
  }

  &--mobile {
    display: none;

    @media (max-width: $vp-767) {
      display: block;
    }
  }
}
