@import "./variables.scss";

.logo-header__image {
  margin-right: 15px;

  &--desktop-and-tablet {
    display: block;

    @media (max-width: $vp-767) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media (max-width: $vp-767) {
      display: block;
    }
  }
}
