@import "./variables.scss";

.main-footer {
  width: 100%;
  padding: 50px 0 55px 0;

  background-color: $color-default-black;
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;

  max-width: 1220px;
  margin: 0 auto;
  padding: 0 75px;
}

.main-footer__logo-and-social {

}
