@import "./variables.scss";

.main-header {
  position: fixed;
  width: 100%;
  padding: 30px 0 35px 0;

  background: $black-to-bottom-gradient;

  @media (max-width: $vp-1023) {
    position: static;
    padding: 20px 0 25px 0;

    z-index: 1;
  }

  @media (max-width: $vp-767) {
    padding: 10px 0 20px 0;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  max-width: 1380px;
  margin: 0 auto;
  padding: 0 80px;

  @media (max-width: $vp-1023) {
    justify-content: flex-end;
    padding: 0 50px;
  }

  @media (max-width: $vp-767) {
    padding: 0 25px;
  }
}

.main-header__logo-wrapper {
  @media (max-width: $vp-1023) {
    margin-right: auto;
  }
}

.main-header__logo {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-header__heading-wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: $vp-767) {
    display: none;
  }
}

.main-header__heading {
  margin: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-default-white;
}

.main-header__heading-small {
  margin: 0;

  font-family: $ff-roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $transparent-white-0-7;
}


.main-header__email-wrapper,
.main-header__phone-wrapper {
  @media (max-width: $vp-1023) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.main-header__phone-wrapper {
  @media (max-width: $vp-767) {
    margin-right: 10px;
  }
}

.main-header__email-link,
.main-header__phone-link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;

  @media (max-width: $vp-1023) {
    width: 100%;
    height: 100%;
  }
}

.main-header__email-text,
.main-header__phone-text {
  margin: 0;

  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-default-white;

  @media (max-width: $vp-1023) {
    display: none;
  }
}

