@import "./variables.scss";

.main-header {
  padding-top: 30px;
  padding-bottom: 35px;
  min-width: 320px;

  background: $black-to-bottom;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
}

.main-header__logo-wrapper {
  height: 55px;
}

.main-header__logo {
  display: flex;
  column-gap: 15px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 55px;
}

.main-header__heading-wrapper {
  display: flex;
  flex-direction: column;
}

.main-header__heading {
  margin: 0;

  color: $color-default-white;
}

.main-header__heading-small {
  color: $transparent-white-0-5;
}

.main-header__email-wrapper,
.main-header__phone-wrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.main-header__email-link,
.main-header__phone-link {
  color: $color-default-white;
}

